<!--FOOTER-->

<script src="scrips/lib/jquery/dist/jquery.min.js">

</script>
<script src="scrips/lib/bootstrap/dist/js/bootstrap.min.js">

</script>
<script src="scrips/app.js">

</script>
<div class="timeActual">
    <script type="text/javascript">
        var d=new Date();
            document.write(d + ' <br> ');
    </script>
</div>
</body>

</html>