<script src="scrips/lib/jquery/dist/jquery.min.js">

    </script>
    <script src="scrips/lib/bootstrap/dist/js/bootstrap.min.js">

    </script>
    <script src="scrips/app.js">

    </script>

</body>

</html>