<% include partials/header.ejs %> 

    <main class="container">
        <h1><%= title %></h1>
        <h2>YUJI FUJIYAMA</h2>
        <p>Born in the land of the rising sun. <br>
          Grew up studying English in Ohio, USA and in Ontario, Canada. <br>
          I am fluent in English and Japanese.</p>
          <br>
          <p>Being surrounded by two different cultures my entire life has given me a 
              perspective of the world that is different from the rest. <br>
              It brings creativity and individualism to the work I do and the things I love.</p>

    </main>

<!-- include partials allows you to link the footer/header to the main -->
<% include partials/footer.ejs %> 