<% include partials/header.ejs %>

    <main class="container">
        <h1><%= title %></h1>
        <h2>YUJI FUJIYAMA</h2>

        <p>
            Born in the land of the rising sun.
            <br> Grew up studying English in Ohio, USA and in Ontario, Canada.
            <br> I am fluent in English and Japanese.
        </p>

        <p>
            Being surrounded by two different cultures my entire life has given me a perspective of the world that is different from
            the rest.
            <br> It brings creativity and individualism to the work I do and the things I love.
        </p>
        <p>
            A Computer Programming Major at <a href="http://www.georgiancollege.ca">Georgian College</a> Barrie Campus in
            Ontario, Canada.
            <br> A photographer, videographer and journalist at <a href="http://www.skateslate.jp">SkateSlate Japan</a>.
        </p>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                
                <a href="http://www.skateslate.jp" class="thumbnail">
                    <img src="/images/sks.png" alt="skateslatejp">
                </a>
                <a href="http://www.georgiancollege.ca" class="thumbnail">
                     <img src="/images/georgian.png" alt="Georgian College">
                </a>
            </div>
        </div>

    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>

        <!--/Users/itsmefuji/Desktop/comp2068-w2016-assignment1 -->