<% include partials/header.ejs %>

<!--Contact Me Page-->

    <main class="container">
        <h1><%= title %></h1>
        <p>Need to contact me? Please use one of the methods below.</p>

        <h4> Email </h4>
        <p> yujif.gc@gmail.com</p>
        <h4> Phone </h4>
        <p> +1-(705)-220-2653</p>
        <h4> Website </h4>
        <p> <a href="http://www.yujifujiyama.com">yujifujiyama.com</a> </p>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>

    </main>



    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>