<% include partials/header.ejs %>

    <main class="container">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>Yuji Fujiyama's Express Portfolio</p>
            <p><a class="btn btn-primary" href="/about" role="button">Learn More About Me</a></p>
        </div>


    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>