<% include partials/header.ejs %> 

    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
        </p>

    </main>

<!-- include partials allows you to link the footer/header to the main -->
<% include partials/footer.ejs %>