<% include partials/header.ejs %>

    <!--Services Page-->

    <main class="container">
        <h1><%= title %></h1>
        <p>Looking to get things done? You're at the right place.</p>
        <h3>WEB DESIGNING</h3>
        <div class="one">
            <img src="/images/fa-logo.png" width="20%">
            <img src="/images/fa-gear.png" width="20%">
            <img src="/images/fa-check.png" width="20%">
            <div class="caption">
                <p>- Designing, creating and developing a fully functional website of your own or for your bussiness
                    <br> - Keep your site up-to-date and current so that you keep your visitors entertained
                    <br> - Analyze and provide web analytics for those seeking information about traffic as this is an effetive
                    way to provide the best results for more viewers and visitors.
                </p>
            </div>
        </div>
    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>