/*
Name: Yuji Fujiyama-200300256
Project: Express Porfolio Assignment
Date: Feb. 10. 2016
*/

/* custom css file */ 


body {
    background-color:lightgrey;
}

main{
    border-style: double;
}

canvas {
  width:100%;
  height:100%;
}

/* Active link */
ul li:active {
    color: yellow;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
/* TIME TELLING AT THE BOTTOM OF PAGE*/
.timeActual{
    text-align: right; 
}
